<footer class="footer mt-5">

    <div class="container">
        <div class="row">

            <!-- About -->
            <div class="col-md-3">
                <h5 class="footer-title">ABOUT US</h5>
                <ul>
                    <li><a href="">Store Locations</a></li>
                    <li><a href="">Wholesalers</a></li>
                    <li><a href="">Map Site</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>

            <!-- Information -->
            <div class="col-md-3">
                <h5 class="footer-title">INFORMATION</h5>
                <ul>
                    <li><a href="">Help & FAQs</a></li>
                    <li><a href="">Advance Search</a></li>
                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    <li><a routerLink="/terms-and-conditions">Terms and Conditions</a></li>
                </ul>
            </div>

            <!-- Account -->
            <div class="col-md-3">
                <h5 class="footer-title">ACCOUNT</h5>
                <ul>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/orders">Order History</a></li>
                    <li><a routerLink="/cart">Cart Page</a></li>
                    <li (click)="openAuthModal()"><a>Sign In</a></li>
                </ul>
            </div>

            <!-- Newsletter -->
            <div class="col-md-3">
                <h5 class="footer-title">NEWSLETTER</h5>

                <p>Subscribe for latest offers & updates</p>

                <div class="newsletter-box">
                    <input type="email" placeholder="Enter your email">
                    <button>Subscribe</button>
                </div>

            </div>

        </div>
    </div>

    <!-- Bottom -->
    <div class="footer-bottom">

        <div class="container d-flex justify-content-between align-items-center">

            <p>© 2026 OZO Gold and DiamondJewellery Mart
                . All Rights Reserved.</p>

            <div class="payments">
                <i class="fa fa-cc-visa"></i>
                <i class="fa fa-cc-mastercard"></i>
                <i class="fa fa-cc-paypal"></i>
                <i class="fa fa-credit-card"></i>
            </div>

        </div>

    </div>

</footer>

<app-auth-modal [isAuthOpen]="isAuthOpen" (close)="closeAuthModal()">
</app-auth-modal>