<div class="container my-5">

    <!-- EMPTY CART -->

    <div *ngIf="cartItems.length === 0" class="empty-cart-wrapper">

        <div class="text-center">

            <img src="../../../assets//images/empty_cart.png" alt="Empty Cart" class="empty-cart-img">

            <h2 class="mt-4">
                Your Cart is Empty
            </h2>

            <p class="text-muted">

                Looks like you haven't added any jewellery yet.

                Explore our collections and find something special.

            </p>

            <button class="btn checkout-btn mt-3" routerLink="/home">

                Continue Shopping

            </button>

        </div>

    </div>

    <!-- CART DATA -->

    <div class="row" *ngIf="cartItems.length > 0">

        <!-- LEFT -->

        <div class="col-lg-8">

            <div class="d-flex justify-content-between align-items-center mb-4">

                <h3 class="mb-0">
                    Shopping Cart
                </h3>

                <span class="badge bg-dark">

                    {{ cartItems.length }}

                    Item{{ cartItems.length > 1 ? 's' : '' }}

                </span>

            </div>

            <div class="cart-item" *ngFor="let item of cartItems">

                <!-- IMAGE -->

                <div>

                    <img [src]="item.image" class="cart-img">

                </div>

                <!-- DETAILS -->

                <div class="flex-grow-1">

                    <h6>
                        {{ item.productName }}
                    </h6>

                    <p class="mb-1">

                        Size :
                        {{ item.selectedVariant?.size }}

                    </p>

                    <p class="mb-1">

                        {{ item.selectedVariant?.metalPurity }}

                        |

                        {{ item.selectedVariant?.metalColor | titlecase }}

                    </p>

                    <p class="fw-bold">

                        ₹{{ item.selectedVariant?.finalPrice | number:'1.0-0' }}

                    </p>

                    <div class="d-flex align-items-center justify-content-between mt-2">

                        <div class="qty-box">

                            <button (click)="decrease(item)">
                                -
                            </button>

                            <input type="number" [ngModel]="item.quantity" (ngModelChange)="item.quantity = +$event">

                            <button (click)="increase(item)">
                                +
                            </button>

                        </div>

                        <div class="fw-bold">

                            ₹{{
                            (item.selectedVariant?.finalPrice || 0)
                            * item.quantity
                            | number:'1.0-0'
                            }}

                        </div>

                    </div>

                </div>

                <!-- REMOVE -->

                <i class="fa fa-times remove-btn" (click)="remove(item)">
                </i>


            </div>

        </div>

        <!-- RIGHT -->

        <div class="col-lg-4">

            <div class="summary-box">

                <h5>
                    Order Summary
                </h5>

                <div class="summary-row">

                    <span>
                        Subtotal
                    </span>

                    <span>
                        ₹ {{ getSubtotal() | number:'1.0-0' }}
                    </span>

                </div>

                <div class="summary-row">

                    <span>
                        Shipping
                    </span>

                    <span>
                        Free
                    </span>

                </div>

                <hr>

                <div class="summary-row total">

                    <span>
                        Total
                    </span>

                    <span>
                        ₹ {{ getSubtotal() | number:'1.0-0' }}
                    </span>

                </div>

                <button class="btn checkout-btn w-100 mt-3">

                    Proceed to Checkout

                </button>

            </div>

        </div>

    </div>

</div>