<!-- 🔝 Top Header Bar -->
<div class="top-header d-none d-lg-block" id="topHeader">
    <div class="container d-flex justify-content-between align-items-center">

        <!-- Left Side -->
        <div class="top-left">
            <span>
                <i class="fa fa-phone"></i> +91 7036020999
            </span>
            <span>
                <i class="fa fa-phone"></i> +91 7036171999
            </span>
            <span class="ms-3">
                <i class="fa fa-envelope"></i> info@ozogoldanddiamonds.com
            </span>
        </div>

        <!-- Right Side -->
        <div class="top-right d-flex align-items-center gap-3">

            <a routerLink="/offers" class="top-link">
                <i class="fa fa-tag"></i> Offers
            </a>
            <!-- Social Icons -->
            <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>

        </div>

    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-3" id="mainNavbar">

    <!-- Brand -->
    <a class="navbar-brand fw-bold text-dark" routerLink="/">
        <img src="../../../assets/images/logo2.png" alt="">
        <span class="nav-title">
            <span>OZO Gold and Diamond </span>
            <span>Jewellery</span>
        </span>

    </a>
    <a class="mobile-cart-wrapper position-relative" routerLink="/cart">
        <i class="fa fa-shopping-cart"></i>
        <span class="cart-badge">{{ cartCount }}</span>
    </a>


    <!-- Mobile Toggle -->
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        (click)="isMenuOpen = !isMenuOpen">
        <span class="toggler-icon top" [class.active]="isMenuOpen"></span>
        <span class="toggler-icon middle" [class.active]="isMenuOpen"></span>
        <span class="toggler-icon bottom" [class.active]="isMenuOpen"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-center gap-5">

            <li class="nav-item">
                <a class="nav-link" routerLink="/" (click)="closeMenu()">Home</a>
            </li>

            <li class="nav-item dropdown mega-dropdown" [class.show]="isCategoryOpen" [class.show]="isCategoryOpen"
                (mouseenter)="openCategoryMenuDesktop()" (mouseleave)="closeCategoryMenuDesktop()">

                <a class="nav-link dropdown-toggle" role="button" tabindex="0" (click)="toggleCategoryMenu($event)">
                    Categories <i class="fa fa-angle-down"></i>
                </a>

                <div class="dropdown-menu mega-menu p-4" [class.show]="isCategoryOpen"
                    (click)="$event.stopPropagation()">
                    <div class="mega-wrapper">
                        <div class="mega-left">
                            <h6 class="mega-title">Shop By Category</h6>

                            <ul class="mega-links">
                                <li *ngFor="let category of categories">
                                    <a [routerLink]="['/categories']" [queryParams]="{ categoryId: category._id }"
                                        (click)="closeMenu()">
                                        {{ category.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-right">
                            <div class="row g-4">
                                <div class="col-lg-3 col-6" *ngFor="let category of categories">
                                    <a [routerLink]="['/categories']" [queryParams]="{ categoryId: category._id }"
                                        class="mega-card" (click)="closeMenu()">
                                        <img [src]="category.image" [alt]="category.name">
                                        <div class="mega-card-content">
                                            <h5>{{ category.name }}</h5>
                                            <p>Explore Collection</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/categories" (click)="closeMenu()">Gold</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/categories" (click)="closeMenu()">Diamonds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/categories" (click)="closeMenu()">Silver</a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link" routerLink="/about" (click)="closeMenu()">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" (click)="closeMenu()">Contact</a>
            </li>

            <!-- Cart -->
            <li class="nav-item desk-cart icons">
                <a class="position-relative" routerLink="/cart" (click)="closeMenu()">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-pill">
                        {{ cartCount }}
                    </span>
                </a>
            </li>
            <li class="icons">
                <a (click)="closeMenu()">
                    <i class="fa" [ngClass]="wishlistCount > 0? 'fa-heart text-danger': 'fa-heart-o'"
                        (click)="whishlist()">
                    </i>
                </a>
            </li>

            <!-- Login -->
            <li *ngIf="!isLoggedIn">

                <button class="auth-trigger" (click)="openAuthModal()">

                    Login / Register

                </button>

            </li>
            <li *ngIf="isLoggedIn" class="nav-item dropdown">

                <a class="nav-link">

                    <i class="fa fa-user-circle"></i>

                </a>

                <div class="user-dropdown">

                    <a routerLink="/profile">My Profile</a>

                    <a routerLink="/orders">My Orders</a>

                    <a routerLink="/wishlist">Wishlist</a>

                    <a (click)="logout()">Logout</a>

                </div>

            </li>
        </ul>
    </div>
</nav>
<app-auth-modal [isAuthOpen]="isAuthOpen" (close)="closeAuthModal()">
</app-auth-modal>