<div class="container my-5">

    <div class="row">

        <!-- 🔹 LEFT FILTER -->
        <div class="col-lg-3">

            <div class="filter-box">

                <h5>Categories</h5>
                <ul>
                    <li>Gold</li>
                    <li>Diamond</li>
                    <li>Silver</li>
                    <li>Rings</li>
                </ul>

                <h5 class="mt-4">Price Range</h5>
                <input type="range" class="form-range">

                <h5 class="mt-4">Sort By</h5>
                <select class="form-select">
                    <option>Latest</option>
                    <option>Price Low to High</option>
                    <option>Price High to Low</option>
                </select>

            </div>

        </div>

        <!-- 🔹 RIGHT PRODUCTS -->
        <div class="col-lg-9">

            <!-- Top bar -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5>Showing 12 Products</h5>

                <select class="form-select w-auto">
                    <option>Default Sorting</option>
                    <option>Popularity</option>
                    <option>Newest</option>
                </select>
            </div>

            <!-- Product Grid -->
            <div class="row">

                <div class="col-md-4" *ngFor="let item of products">
                    <div class="product-card" (click)="product()">

                        <div class="product-img">
                            <img [src]="item.image">

                            <div class="hover-icons">
                                <i class="fa fa-shopping-cart"></i>
                                <i class="fa fa-eye"></i>
                                <i class="fa fa-heart"></i>
                            </div>
                        </div>

                        <div class="product-info">
                            <h6>{{item.name}}</h6>
                            <p>₹ {{item.price}}</p>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>