<!-- Modal -->
<div class="auth-backdrop" *ngIf="isAuthOpen" (click)="closeModal()"></div>

<div class="auth-modal" *ngIf="isAuthOpen" role="dialog" aria-modal="true" aria-labelledby="authTitle">
    <button class="auth-close" (click)="closeModal()" aria-label="Close modal">
        &times;
    </button>

    <div class="auth-grid">
        <!-- Left panel -->
        <div class="auth-brand-panel">
            <div class="image-grid">
                <img src="../../../assets//images/logo2.png" alt="">
                <p class="auth-kicker">Welcome to OZO</p>
            </div>

            <h2 id="authTitle">{{ activeAuthTab === 'login' ? 'Sign in to your account' : 'Create your account' }}</h2>
            <p class="auth-copy">
                Save your wishlist, track orders, and shop faster with a secure account.
            </p>

            <ul class="auth-benefitsts">
                <li>Fast checkout</li>
                <li>Track orders</li>
                <li>Wishlist sync</li>
            </ul>
        </div>

        <!-- Right panel -->
        <div class="auth-form-panel">
            <div class="auth-tabs">
                <button [class.active]="activeAuthTab === 'login'" (click)="openTab('login')">Login</button>
                <button [class.active]="activeAuthTab === 'register'"
                    (click)="activeAuthTab='register'">Register</button>
            </div>

            <!-- Login -->
            <form *ngIf="activeAuthTab === 'login'" class="auth-form" [formGroup]="loginForm" (ngSubmit)="login()"
                autocomplete="off">

                <label>Phone Number</label>

                <input type="text" formControlName="phone" placeholder="Enter your phone number" maxlength="10"
                    inputmode="numeric" (input)="allowOnlyNumbers($event)" (input)="onPhoneInput($event, 'login')" />
                <small class="error"
                    *ngIf="loginForm.get('phone')?.touched && loginForm.get('phone')?.hasError('required')">
                    Phone number is required
                </small>
                <small class="error"
                    *ngIf="loginForm.get('phone')?.touched && loginForm.get('phone')?.hasError('pattern')">
                    Enter valid 10 digit mobile number
                </small>

                <small class="error"
                    *ngIf="loginForm.get('phone')?.touched && loginForm.get('phone')?.hasError('pattern')">
                    Not allowed. Enter only 10-digit mobile number
                </small>
                <label>Password</label>

                <div class="password-wrap">

                    <input [type]="showLoginPassword ? 'text' : 'password'" formControlName="password"
                        placeholder="Enter your password" autocomplete="new-password" />

                    <button type="button" class="eye-btn" (click)="showLoginPassword = !showLoginPassword">

                        <i class="fa" [ngClass]="showLoginPassword ? 'fa-eye-slash' : 'fa-eye'">
                        </i>

                    </button>

                </div>

                <div class="auth-row">

                    <label class="remember">

                        <input type="checkbox" />

                        <span>
                            Remember me
                        </span>

                    </label>

                </div>

                <button type="submit" class="auth-submit" [disabled]="loginForm.invalid || isLoginLoading">

                    <span *ngIf="!isLoginLoading">Login</span>
                    <span *ngIf="isLoginLoading" class="loading-dots">
                        Logging in<span>.</span><span>.</span><span>.</span>
                    </span>
                </button>

            </form>
            <!-- Register -->
            <form *ngIf="activeAuthTab === 'register'" class="auth-form" [formGroup]="registerForm"
                (ngSubmit)="register()" autocomplete="off">

                <label>Full Name</label>

                <input type="text" formControlName="name" placeholder="Enter your name">
                <label>Email</label>
                <input type="email" formControlName="email" placeholder="Enter your email">
                <small class="error"
                    *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')">
                    Email is required
                </small>
                <small class="error"
                    *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')">
                    Enter valid email address
                </small>

                <label>Phone Number</label>
                <input type="text" formControlName="phone" placeholder="Enter your phone number" maxlength="10"
                    inputmode="numeric" (input)="allowOnlyNumbers($event)" (input)="onPhoneInput($event, 'register')" />
                <small class="error"
                    *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.hasError('required')">
                    Phone number is required
                </small>
                <small class="error"
                    *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.hasError('pattern')">
                    Enter valid 10 digit mobile number
                </small>
                <small class="error"
                    *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.hasError('pattern')">
                    Not allowed. Enter only 10-digit mobile number
                </small>


                <label>Password</label>

                <div class="password-wrap">

                    <input [type]="showRegisterPassword ? 'text' : 'password'" formControlName="password"
                        placeholder="Create password">

                    <button type="button" class="eye-btn" (click)="showRegisterPassword = !showRegisterPassword">

                        <i class="fa" [ngClass]="showRegisterPassword ? 'fa-eye-slash' : 'fa-eye'">
                        </i>

                    </button>

                </div>

                <label>Confirm Password</label>

                <input [type]="showRegisterPassword ? 'text' : 'password'" formControlName="confirmPassword"
                    placeholder="Confirm password">

                <label class="remember terms">

                    <input type="checkbox" formControlName="acceptTerms">

                    <span>
                        I accept OZO Gold and Diamonds <a href="">Terms and Conditions</a> and <a href="">Privacy
                            Policy</a>
                    </span>

                </label>

                <button type="submit" class="auth-submit" [disabled]="registerForm.invalid || isRegisterLoading">

                    <span *ngIf="!isRegisterLoading">Create Account</span>
                    <span *ngIf="isRegisterLoading" class="loading-dots">
                        Creating Account<span>.</span><span>.</span><span>.</span>
                    </span>
                </button>
            </form>
        </div>
    </div>
</div>